## based on https://docs.docker.com/guides/python/develop/

**/!.env.example
**/!pyproject.toml
**/*.*proj.user
**/*.dbmdl
**/*.egg-info/
**/*.jfm
**/*.log
**/*.md
**/*.py.bak
**/*.pyc
**/*.pyd
**/*.pyo
**/*.swo
**/*.swp
**/*~
**/.*.diff
**/.DS_Store
**/.DS_Store?
**/.Python
**/.Spotlight-V100
**/.Trashes
**/._*
**/.classpath
**/.claude/
**/.coverage
**/.cursor/
**/.dockerignore
**/.env
**/.env.*
**/.git/
**/.gitattributes
**/.github/
**/.gitignore
**/.idea/
**/.mypy_cache/
**/.pre-commit-config.*
**/.project
**/.pytest_cache/
**/.ruff_cache/
**/.settings
**/.specify/
**/.toolstarget
**/.tox/
**/.venv/
**/.vs
**/.vscode/
**/CLAUDE.md
**/Dockerfile*
**/LICENSE
**/README.md
**/Thumbs.db
**/__pycache__/
**/bin/
**/build/
**/charts
**/compose.y*ml
**/demo.py
**/dist/
**/docker-compose*
**/ehthumbs.db
**/justfile
**/logs/
**/node_modules
**/npm-debug.log
**/obj
**/poetry.toml
**/research/
**/secrets.dev.yaml
**/tests/
**/values.dev.yaml
docs/
project/
research/
specs/
tests/
# Strands FileSessionManager local storage (auto-created on first request)
sessions/
